html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .full-screen-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .full-screen-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  